/*colors*/
:root {
  --nitro-blue: #5BACC3;
  --nitro-pink: #FFF0ED;
  --graphite: #393939;
  --light-gray: #F7F7F7;
  --white: #fff;
  --gray: #909090;
}

/*website wide styles*/
h1, h2 {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.button {
  background-color: var(--nitro-blue);
  color: var(--white);
  border: 0rem;
  padding: 1.25rem;
  text-transform: uppercase;
  width: 11.25rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: block;
}

.button-outline {
  border: 0.125rem solid var(--graphite);
  width: 100%;
  height: calc(100% - 0.625rem);
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  padding-top: 0.625rem;
}

/*website page header*/
.page-header {
  background-color: var(--nitro-pink);
  padding-bottom: 1.25rem;
}

.page-header a {
  text-decoration: none;
  color: black;
}

.page-header__branding {
  display: flex;
  align-items: flex-end;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page-header__nav .nav-list {
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.page-header__nav .nav-list > li {
  display: inline-block;
  padding: 1.25rem;
}
.page-header__nav .nitro-pink-background {
  background-color: var(--nitro-pink);
  margin: 0rem;
}

.page-header__img--logo {
  padding-left: 1.25rem;
  padding-top: 1.2rem;
  width: 3.125rem;
  height: 3.125rem;
}

h3,
.page-header__a--title {
  font-size: 2.0625rem;
  font-weight: 400;
  margin-bottom: 0;
  font-style: normal;
}

.page-header__a {
  font-weight: 500;
}

.page-header__a--shop-now {
  color: var(--nitro-blue) !important;
}

.nitro-blue-text {
  color: var(--nitro-blue);
  margin: 0;
}

.nav-list {
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 0;
  display: inline-block;
  margin: 0;
}

.nav-list > li {
  display: inline-block;
  padding: 1.25rem;
}

.nitro-blue-dividers {
  color: var(--nitro-blue);
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

.light-gray-background {
  background-color: var(--light-gray);
}

.nitro-pink-background {
  background-color: var(--nitro-pink);
  margin: 0rem;
}

.graphite-background {
  background-color: var(--graphite);
  color: #fff;
}

.images {
  height: 17.5rem;
}

.sub-navigationlink {
  width: 100%;
  height: 5rem;
  padding: 1.25rem;
  background-color: var(--graphite);
  color: var(--white);
}

footer {
  background-color: var(--nitro-pink);
}

/*Main Menu Section*/
.coffee-circle {
  width: 100%;
  height: 43.75rem;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/coffee-circle.jpg");
  display: flex;
  align-items: center;
}

.main__tilebox {
  background-color: var(--graphite);
  width: 18.75rem;
  height: 10rem;
  padding: 1.25rem;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
}

.main-outline {
  border: 0.3125rem solid var(--nitro-blue);
  width: 100%;
  height: calc(100% - 3.75rem);
  position: absolute;
  top: -1rem;
  left: -1rem;
  padding-top: 3.75rem;
}

.main__graphite-background {
  background-color: var(--graphite);
}

.main__menu-options--list .menu-options > li {
  margin: 1rem 0 1rem 0.2rem;
  padding: 0 1rem;
  list-style-type: none;
  border-left: 0.1875rem solid var(--nitro-blue);
  text-align: center;
  align-content: center;
  display: inline-block;
  font-weight: bold;
}
/*Options Section*/
.menu-options {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.menu-options > li {
  margin: 1rem 0 1rem 0.2rem;
  padding: 0 1rem;
  list-style-type: none;
  border-left: 0.1875rem solid var(--nitro-blue);
  text-align: center;
  align-content: center;
  display: inline-block;
}

.menu-options > li > a {
  color: var(--white);
  text-decoration: none;
}

.menu-item-list {
  padding: 0;
  margin: 0;
}

.menu-item-list > li {
  list-style-type: none;
  text-align: center;
  width: 36rem;
  margin: 0 auto;
  font-weight: bold;
  font-style: italic;
}

.menu-item-description {
  width: 75%;
  margin: auto;
}

.menu-section {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.options__price {
  color: var(--nitro-blue);
  margin: 0;
  font-weight: bold;
}/*# sourceMappingURL=menu.css.map */