@use 'Partials/global';



/*Main Menu Section*/



.coffee-circle{
    width: 100%;
    height: 43.75rem;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/images/coffee-circle.jpg");
    display: flex;
    align-items: center;
}

.main__tilebox{
        background-color: var(--graphite);
        width: 18.75rem;
        height: 10rem;
        padding: 1.25rem;
        color: var(--white);
        text-transform: uppercase;
        margin: 0 auto;
        position: relative;

}

.main-outline{
    border: .3125rem solid var(--nitro-blue);
    width: 100%;
    height: calc(100% - 3.75rem);
    position: absolute;
    top: -1rem;
    left: -1rem;
    padding-top: 3.75rem;

}

.main__graphite-background{
    background-color: var(--graphite);
}

.main__menu-options{

}

.main__menu-options--list{
    .menu-options > li{
        margin: 1rem 0 1rem 0.2rem;
        padding: 0 1rem;
        list-style-type: none;
        border-left: 0.1875rem solid var(--nitro-blue);
        text-align: center;
        align-content: center;
        display: inline-block;
        font-weight: bold;
    }
    

    #menu-content__section--hot-drinks{

    }
    
    #menu-content__section--cold-drinks{
        
    }
    
    #menu-content__section--pastries{
        
    }
}




/*Options Section*/


.menu-options{
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.menu-options > li{
    margin: 1rem 0 1rem 0.2rem;
    padding: 0 1rem;
    list-style-type: none;
    border-left: 0.1875rem solid var(--nitro-blue);
    text-align: center;
    align-content: center;
    display: inline-block;
}

.menu-options > li > a{
    color: var(--white);
    text-decoration: none;
}

.menu-item-list{
    padding: 0;
    margin: 0 ;
}

.menu-item-list > li{
    list-style-type: none;
    text-align: center;
    width: 36rem;
    margin: 0 auto;
    font-weight: bold;
    font-style: italic;
}

.menu-item-description{
    width: 75%;
    margin: auto;
}

.menu-section{
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}



.options__price{
    color: var(--nitro-blue);
    margin: 0;
    font-weight: bold;
}